.restconfig.json
all_components.json
dependency_paths.json
full_result.json
components.json
hierarchical_components.json
proejct.json
version.json
full_result.sarif.json
sampleapp_rapid_component_results.json
iac_findings.json
sampleapp.sarif.json
jounistest.sarif.json
cisaTest.sarif.json
vulnerabilities.json
